/* 移入图片出现功能效果 */
figure {
    /* 相对定位 */
    position: relative;
    margin: 10px 1%;
    /* width: 480px;
    height: 360px; */
    height: 220px;
    width: 360px;
    /* 溢出隐藏 */
    overflow: hidden;
    background-color: #34495e;
}

figcaption {
    color: #fff;
}

/* 黑色边框 */
figcaption::before,
figcaption::after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    border-style: solid;
    /* border-color: #101010; */
    border-color: rgba(0, 0, 0, 0.8);
    /* 设置过渡 */
    transition: transform 0.35s;
    /* 设置元素不对鼠标事件做出反应,图标的悬停样式才会有效 */
    pointer-events: none;
}

/* 右、下边框(鼠标划入黑边) */
figcaption::before {
    right: 0;
    bottom: 0;
    border-width: 0 70px 60px 0;
    /* 默认移出可视区域 */
    transform: translate(70px, 60px);
}

/* 左、上边框 */
figcaption::after {
    top: 0;
    left: 0;
    border-width: 15px 0 0 15px;
    /* 默认移出可视区域 */
    transform: translate(-15px, -15px);
}

/* 图片 */
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    /* 过渡 */
    transition: 0.35s;
}

/* 预览图标 */
figure #preview {
    left: 100;
    /* 默认隐藏 */
    transform: translate(90px, 0);
    opacity: 0;
}

/* 功能图标区域 */
figure p {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: center;
    align-items: center;
}

/* 图标 */
figure p i {
    margin-bottom: 30px;
    font-size: 22px !important;
    cursor: pointer;
    /* 默认隐藏 */
    transform: translate(90px, 0);
    opacity: 0;
    /* 过渡 */
    transition: opacity 0.35s, transform 0.35s;
}

/* 接下来是鼠标悬停时的样式变化 */
figure:hover figcaption::before,
figure:hover figcaption::after {
    transform: translate(0, 0);
}

figure:hover img {
    opacity: 0.8;
    width: 95%;
    height: 95%;
}

figure:hover h2,
figure:hover #preview,
figure:hover p i {
    transform: translate(0, 0);
}

figure:hover p i {
    opacity: 1;
}

figure:hover #preview {
    opacity: 1;
}

/* 设置各个图标的动画延迟(实现逐个进入) */
figure:hover p i:nth-child(1) {
    transition-delay: 0.05s;
}

figure:hover p i:nth-child(2) {
    
    transition-delay: 0.1s;
}

figure:hover p i:nth-child(3) {
    transition-delay: 0.15s;
}

figure:hover p i:nth-child(4) {
    transition-delay: 0.2s;
}

figure p i:hover {
    color: #409eff;
}
figure p i:nth-child(2):hover{
    color: rgb(199, 68, 68);
}