body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Tahoma, Verdana, STHeiTi, "Microsoft YaHei", 微软雅黑,
        sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    color: #333;
}
div,
form,
ul,
ol,
li,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
}
img,
a img {
    border: 0;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
ul,
ol,
li {
    list-style: none;
}
table,
td,
input {
    font-size: 12px;
}
a {
    outline-style: none;
    color: #759bda;
    text-decoration: none;
}
a:hover {
    color: #648ae9;
    text-decoration: underline;
}

/*浮动*/
.floatR {
    float: right;
}
.floatL {
    float: left;
}
.el-divider__text,
is-center {
    background-color: #f0f2f5;
}
